@import "tipografia";

@import "generales";

@import "grids";

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

main {
    margin-bottom: 50px;
}

header {
    margin-top: 30px;
}

a {
    text-decoration: none;
}

footer {
    background-color: white;
    padding: 20px;
}

p {
    padding: 5px;
}

a {
    font-weight: 100;
}

section {
    padding: 20px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 10px;
    margin: 20px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: larger;
    color: #f28482;

}

h3 {
    letter-spacing: 3px;
}

h4 {
    font-weight: 100;
}

p {
    font-size: medium;
}

.sabores {
    color: #83c5be;
    margin: 50px;
}

.mainText {
    padding: 30px;
}

.row {
    margin: 1%;
    background-color: #83c5be;
    padding: 2%;
}

.saboresHelado {
    margin-bottom: 50px;
}

.col {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.section {
    background-color: #83c5be;
}

.imgNehuen {
    border-radius: 10px;
}

.contact_form{	
	width: 460px; 
    height: auto;
    margin: 10px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color:#f28482; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
}

textarea{
    background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color:#f28482; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

label{
  display: block; 
	float: center; 	
}

button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color:#f28482; 
	border-color: black; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}

button p{
	color: #fff; 
}

span{
	color:#f28482; 
}

.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}

::-webkit-textarea-placeholder {
 color: #a8a8a8;
}

.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}

.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}