@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,700&family=Roboto:wght@100;400;900&display=swap');

* {
    padding: o;
    margin: 0;
}

html {
    font-size: 62, 5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: black;
    background-color: #ffddd2;
    text-align: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

.imgTacita {
    max-width: 100vw
}

footer {
    background-color: white;
    padding: 20px;
}

p {
    padding: 5px;
}

section {
    padding: 50px;
    background-color: #ffddd2;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 10px;
}

h3 {
    letter-spacing: 3px;
}

.sabores {
    color: #83c5be;
    margin: 50px;
}

.mainText {
    padding: 30px;

}

h1 {
    color: #83c5be;
    margin: 20px
}

.row {
    margin: 5%;
}

.saboresHelado {
    margin-bottom: 50px;
}

.col {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.imgNehuen{
    border-radius: 10px;
}


/* declaro las areas */

.parrafo1 {
    grid-area: parrafo1;
}

.parrafo2 {
    grid-area: parrafo2;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

@media(min-width:500px) {
    .padre {
        display: grid;
        grid-template-areas:
            "parrafo1"
            "img1"
            "parrafo2"
            "img2";
        grid-template-columns: 1fr;
        grid-template-rows: 10% 40% 10% 40%;
        justify-items: center;
        align-items: center;
    }

    body {
        font-size: 13px;
    }
}

@media(min-width:768px) {
    .padre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        grid-template-areas:
            "parrafo1   img1"
            "parrafo2   img2";
    }

    body {
        font-size: 16px;
    }
}

@media(min-width:1024px) {
    .padre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        grid-template-areas:
            "parrafo1   img1"
            "parrafo2   img2";
    }

    body {
        font-size: 18px;
    }

}